.containerProjectsPage {
	position: relative;
	background-color: transparent;
	backdrop-filter: blur(5px);
	padding: 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding-top: 100px;
	padding-bottom: 200px;
  }
  
  .containerProjectsPage h2 {
	color: #DFDFDF;
	font-size: 40px;
	letter-spacing: 0.1em;
  }
  
  .containerProjectsPage p {
	color: #DFDFDF;
	letter-spacing: 0.05em;
	font-size: 18px;
	line-height: 25px;
  }
  
  .containerProjectCards {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
  }
  
  .projectsGrid {
	display: flex;
	width: 100%;
	gap: 40px;
	justify-content: center;
	flex-wrap: wrap;
  }
  
  .projectCard {
	flex: 1 1 calc(100% - 20px);
	margin: 10px;
	max-width: 300px;
  }
  
  @media (min-width: 768px) {
	.projectCard {
	  flex: 1 1 calc(33.333% - 20px);
	}
  }
  
  .dotsContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 20px;
	flex-wrap: wrap;
  }
  
  .dot {
	width: 12px;
	height: 12px;
	background-color: #DFDFDF;
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  .activeDot {
	background-color: #ff00ff;
  }
  
  @media (min-width: 768px) {
	.dotsContainer {
	  display: none;
	}
  }
  
  .arrowLeft,
  .arrowRight {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: #ff00ff36;
	color: #DFDFDF;
	border: none;
	font-size: 24px;
	cursor: pointer;
	padding: 10px;
	z-index: 10;
	font-weight: bolder;
  }
  
  .arrowLeft {
	left: 10px;
	transition: all 0.35s ease;
  }
  
  .arrowRight {
	right: 10px;
	transition: all 0.35s ease;
  }
  
  .arrowLeft:hover,
  .arrowRight:hover {
	background-color: #ff00ff;
  }
  
  @media (min-width: 768px) {
	.arrowLeft,
	.arrowRight {
	  display: none;
	}
  }