.containerProjectsPage {
	position: relative;
	background-color: transparent;
	backdrop-filter: blur(5px);
	padding: 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding-top: 100px;
	padding-bottom: 200px;
}

.containerProjectsPage h2 {
	color: #DFDFDF;
	font-size: 40px;
	letter-spacing: 0.1em;
}

.containerProjectsPage p {
	color: #DFDFDF;
	letter-spacing: 0.05em;
	font-size: 18px;
	line-height: 25px;
}

.containerProjectCards {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.projectsGrid {
	display: flex;
	width: 100%;
	gap: 40px;
	justify-content: space-around;
	flex-wrap: wrap;
}

.projectCard {
	flex: 1 1 calc(100% - 20px);
	margin: 10px;
	max-width: 300px;
}

@media (min-width: 768px) {
	.projectCard {
		flex: 1 1 calc(33.333% - 20px);
	}
}

.dotsContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 20px;
	flex-wrap: wrap;
}

.dot {
	width: 14px;
	height: 14px;
	background-color: #DFDFDF;
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.activeDot {
	background-color: #ff00ff;
}

@media (min-width: 768px) {
	.dotsContainer {
		display: none;
	}
}
