.containerNavbar {
	position: fixed;
	top: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding-right: 30px;
}

.containerLogo img {
	width: 120px;
}

.links {
	display: flex;
	align-items: center;
	gap: 40px;
}

.links a {
	text-decoration: none;
	font-size: 30px;
	color: #DFDFDF;
	transition: all 0.35s ease;
	letter-spacing: 0.05em;
}

.links a:hover {
	font-weight: bolder;
}

.click {
	border: 2px solid #DFDFDF;
	border-radius: 6px;
	animation: underline 0.15s linear forwards;
}

@keyframes underline {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.navbarDivNone {
		display: none;
	}
}