.containerMain {
  position: relative;
  width: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
}

.maxWidth {
  max-width: 1204px;
  display: flex;
  flex-direction: column;
}

.containerBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.containerBackground::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.containerBackground img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}